format = """
$username\
$hostname\
$env_var\
$package\
$localip\
$shlvl\
$kubernetes\
\
$singularity\
$vcsh\
\
$cmd_duration\
$buf\
$c\
$cmake\
$cobol\
$container\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$golang\
$haskell\
$helm\
$java\
$julia\
$kotlin\
$lua\
$nim\
$nodejs\
$ocaml\
$perl\
$php\
$pulumi\
$purescript\
$python\
$rlang\
$red\
$ruby\
$rust\
$scala\
$swift\
$terraform\
$vlang\
$vagrant\
$zig\
$nix_shell\
$conda\
$spack\
$crystal\
$docker_context\
\
$line_break\
\
${custom.worktree}\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
\
$line_break\
\
$aws\
$gcloud\
$openstack\
$azure\
$memory_usage\
$custom\
$sudo\
$jobs\
$time\
$status\
$shell\
\
$line_break\
\
$character"""

[username]
disabled = true

[hostname]
disabled = true

[package]
disabled = true

[cmd_duration]
min_time = 0

[git_commit]
only_detached = false

[custom.worktree]
command = "~/.zshrc_/starship/starship-worktree.sh"
when = "true"
format = "[$output]($style) "
style = "cyan bold"

[fill]
symbol = ' '

[gcloud]
symbol = "îž² "
format = '[$account(@$domain)(\($region\))]($style) '	

[shell]
disabled = false

[time]
disabled = false
format = "[$time]($style) "
time_format = "%R"
